.vscode/settings.json
.gitignore
web_application_security/0x04_content_discovery/dns_wordlist.txt
web_application_security/0x04_content_discovery/infrared.txt
web_application_security/0x04_content_discovery/list_fuzz.txt

web_application_security/0x05_upload_vulnerabilities/test.png
web_application_security/0x05_upload_vulnerabilities/payload.php
web_application_security/0x05_upload_vulnerabilities/pika.png
web_application_security/0x05_upload_vulnerabilities/test2.png
web_application_security/0x05_upload_vulnerabilities/bigpayload.php
web_application_security/0x05_upload_vulnerabilities/small.php
cybersecurity_basics/0x03_cryptography_basics/hash.txt
cybersecurity_basics/0x03_cryptography_basics/crack.txt
linux_security/0x01_permissions_sguid_sgid/example.txt
cybersecurity_basics/0x02_forensic_methodologies/Y8CYJ34I9W2GTE9T.png
cybersecurity_basics/0x02_forensic_methodologies/9ACK7LD8EFPNI6EB.png
venv
linux_security/0x04_buffer_overflow/main
web_application_security/0x0c_web_application_foresics/auth.log
web_application_security/0x0c_web_application_foresics/dsmeg
